{% extends 'base.html' %}
{% load static %}
{% block contect %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="bottom">
    <div class="container">
        <h1 style="text-align:conter">确认删除？</h1>
        <p>您确定要删除【{{ grade.grade_name }}】吗？该操作不可撤销！</p>
        <form action="" method="post" class="'text-align:center">
            {% csrf_token %}
            <div class="handleButton">
                <button type="submit" id="canceButton">确认删除 </button>
                <a href="{% url 'grades_list' %}">
                    <button type="button">取消</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}