{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <div class="wrapper" style="background-image: url('{% static 'images/loginpage.jpg' %}');">
        <div class="title">大熊课堂<span>学生管理系统</span></div>
        <div class="container">
            <form action="#" method="post" id="loginForm">
                <h2>登录</h2>
                <div class="input-group">
                    <label for="role">选择身份:</label>
                    <div class="radio-group">
                        <input type="radio" id="admin" name="role" value="admin">
                        <label for="admin">管理员</label>

                        <input type="radio" id="teacher" name="role" value="teacher">
                        <label for="teacher">老师</label>

                        <input type="radio" id="student" name="role" value="student">
                        <label for="student">学生</label>
                    </div>
                </div>
                <div class="input-group">
                    <label for="username">你的手机号:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">你的密码:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <input type="checkbox" id="remember" name="remember" class="custom-checkbox">
                    <label for="remember">记住我的密码</label>

                </div>
                <button type="button" onclick="submitLogin()">登 录</button>
                <p class="forget">忘记密码了？请点击!!!</p>
            </form>
        </div>
    </div>

    <script>
        // 定义一个函数来根据选中的单选按钮更新标签文本
        function updateLabels() {
            var selectedRoleRadio = document.querySelector('input[name="role"]:checked');
            var usernameLabel = document.querySelector('label[for="username"]');
            var passwordLabel = document.querySelector('label[for="password"]');

            if (selectedRoleRadio) {
                var selectedRole = selectedRoleRadio.value;
                switch (selectedRole) {
                    case 'admin':
                        usernameLabel.textContent = '用户名:';
                        passwordLabel.textContent = '密码:';
                        break;
                    case 'teacher':
                        usernameLabel.textContent = '手机号:';
                        passwordLabel.textContent = '密码:';
                        break;
                    case 'student':
                        usernameLabel.textContent = '学籍号:';
                        passwordLabel.textContent = '密码:';
                        break;
                }
            } else {
                // 当没有单选按钮被选中时，默认标签
                usernameLabel.textContent = '你的账号:';
                passwordLabel.textContent = '你的密码:';
            }
        }
    </script>


</body>

</html>